################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StoryBeeHiveWebsite/.vs/StoryBeeHiveWebsite/v15/Server/sqlite3/db.lock
