@{
    ViewBag.Title = "Contact";

}
<br/>

<h2><b>@ViewBag.Message</b></h2><br/>

<address>
    <body style="background-color:gray">
      <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2><strong>Head Office</strong></h2><br />
                69,Jhonson Avenue<br />
                LE1 7AG, Leicester<br />
                Leicestershire, UK<br /><br/>
                <strong>@ViewBag.Text</strong><br />
                +44(0)16-585-6987<br />
                <strong>Mobile Phone:</strong><br />
                +44(0)74-858-8789
            </div>

        </div>

        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Customer Enquries</h2>
                <p>24/7 days</p>
                <strong>Helpline:</strong>&nbsp;+44(0)70-858-6969<br />
                <strong>Helpline Email:</strong><br/>
                storyhivehelp@nohoo.co.uk
            </div>
            
        </div>

        <div class="col-md-4">
            <div class="jumbotron">
                <h2><strong>General Assistant</strong></h2><br />
                <p><strong>Mr.Harreyson</strong></p>
                <strong>Email:</strong>&nbsp; h.harrysonstoryhive@nohoo.co.uk<br />
                <strong>Phone:</strong>&nbsp; +44(0)16-874-8787<br /><br />

                <p><strong>Emman Wattson</strong></p>
                <strong>Email:</strong>&nbsp; w.emmastoryhive@nohoo.co.uk<br />
                <strong>Phone:</strong>&nbsp; +44(0)16-874-8788<br /><br />
            </div>
            
        </div>




      </div>
    
    </body>

</address>

<address>


    <p style="font-style:italic; text-align:center"><strong>Storytelling is the most powerful way to put Ideas into the World</strong></p>   
    
</address>