@{
    ViewBag.Title = "FAQ";
}
<br />

<h1><b>@ViewBag.Message</b></h1><br />

<address>
    <body style="background-color:darkgray">
        <div>
            <div>
                <h2 style="text-align:left;font-size:medium"><strong>1.How to Register/Login?</strong></h2>
                -In every pages Hader(Top) right side there Registration and Login button click one of them. Then, it goes to the cetain page link.
                For example, if it take you to the Registration page please fill the <strong>Email, Password and Confirm Password.</strong>Afterthat, click on the Registration button.
                Either, if click on Login then, it take you to the Login there please fill <strong>Email and Password.</strong><br />

            </div><br />

            <div>
                <h2 style="text-align:left;font-size:medium"><strong>2.How to create new story?</strong></h2>
                -To create new story new user should be do the <strong>Registration and Login</strong> for old user. Then, go to create stories and create a story. User can also
                <strong>Edit, Details and Delete</strong> the story. Details will shows the author <strong>Name, Title and Description of the story.</strong><br />

            </div><br />

            <div>
                <h2 style="text-align:left;font-size:medium"><strong>3.What happen if facing the problem on create Story/Registration/Login?</strong></h2>
                -Go to the <strong>Contact and Call the Helpline or Email us.</strong>


            </div><br />

            <h3 style="text-align:center;font-size:large"><strong>Thank You</strong></h3>
        </div>
    </body>
</address>