@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/storytelling-quotes.jpg" alt="Quote" style="width:1040px; height:400px" />
</div>

<div class="row">
    <div class="jumbotron; col-md-6" style="background-color:antiquewhite">
        <br />
        <h1>Discover Stories in the BeeHive</h1>
        <p><a href="@Url.Action("Index", "Story")" class="btn btn-primary btn-lg">Read Stories &raquo;</a></p>
    </div>
    <div class="jumbotron; col-md-6" style="background-color:navajowhite; text-align:center">
        <br />
        <h1>Authors Hub</h1>
        <p><a href="@Url.Action("Index", "AuthorsStory")" class="btn btn-primary btn-lg">Know about the Authors &raquo;</a></p>
    </div>
</div>

<br />
<dev class="bg-info"><h2><b>Three simple steps to publish your Story/Article on StoryBeehive</b></h2></dev>

<div class="row">

    <div class="col-md-4" ; style="border:dashed">
        <br />
        <h2>STEP-1</h2>
        <p>
            Click on Create Stories button on top of the Screen.
        </p>
        <p><a>(Highligted in the picture)</a></p>
        <br />
        <img src="~/images/Create Stories1.jpg" alt="Quote" style="width:350px; height:95px" />
    </div>
    <div class="col-md-4" ; style="border:dashed">
        <br />
        <h2>STEP-2</h2>
        <p>Click on the Create New button on top left of the screen</p>
        <p><a>(Highligted in the picture)</a></p>
        <br />
        <img src="~/images/Create New1.jpg" alt="Quote" style="width:250px; height:198px" />
    </div>
    <div class="col-md-4" ; style="border:dashed">
        <br />
        <h2>STEP-3</h2>
        <p>Insert the details and then click Create. Then your Story/Article will be visible on the list.</p>
        <p><a>(Highligted in the picture)</a></p>
        <img src="~/images/Create1.jpg" alt="Quote" style="width:340px; height:350px" />
    </div>
</div>

<br />

<div class="row">
    <div class="jumbotron; col-md-6" style="background-color:antiquewhite; text-align:center">
        <br /><br /><br /><br />
        <h1>Create your stories</h1>
        <p><a href="@Url.Action("Index", "Story")" class="btn btn-primary btn-lg">Create &raquo;</a></p>
    </div>
    <div class="jumbotron; col-md-6">
        <img src="~/images/Write story quote.jpg" alt="Quote" style="width:550px; height:350px" />
    </div>
</div>


<br /><br /><br /><br /><br /><br />