@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Pictures/StoryBeeHiveLogo.png"/> StoryBeeHive</h1>
    <p class="lead">StoryBeeHive is a website to share Narratives. Stories, FanFictions, Poems or other narratives of your choice</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

